<mat-drawer-container class="example-container" [hasBackdrop]="false" autosize>
  <mat-drawer #drawer [mode]="'side'">
    <div class="example-ripple-container mat-elevation-z4" matRipple (click)="redirecTo('dashboard')">
      Dashboard
    </div>
    <div class="example-ripple-container mat-elevation-z4" matRipple (click)="redirecTo('account')">
      Account
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <!--NavBar-->
    <div *ngIf="showToolBar">
      <mat-toolbar color="primary">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          matTooltip="Open menu"
          [matTooltipShowDelay]="1"
          [matTooltipHideDelay]="5"
          [matTooltipPosition]="'right'"
          (click)="drawer.toggle(); toogleMenu();"
        >
          <mat-icon *ngIf="toggleMenu">menu</mat-icon>
          <mat-icon *ngIf="!toggleMenu">close</mat-icon>
        </button>
        <span>Inventory Control</span>
        <span class="menu"></span>

        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
          matTooltip="Logout"
          [matTooltipShowDelay]="1"
          [matTooltipHideDelay]="500"
          [matTooltipPosition]="'left'"
          (click)="signOut(); drawer.close()"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <!--Content-->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
